body {
	margin: 0;
	padding: 0;
	background-image: url('../img/bg.png');
	font: 16px/22px 'PT Sans Narrow',sans-serif;
	color: #676761;
}
a {
	text-decoration: none;
	color: #DE543E;
}

a:hover {
	text-decoration:underline;
}
img {
	border: none;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
	background-color: white;
}

.login a {
	padding-left: 10px;
}
.article {
	border-right: 2px solid#F0F0E5; 
border-bottom: 2px solid #F0F0E5;
border-top: 2px solid #F0F0E5;
	margin: 0 0 10px 0; 
	width: 850px
}
.article-title {
	padding-left: 10px;
}
.article-content {
	padding-left: 10px;
}
form label {
	width: 150px;
	display: inline-block;
}
.error {
	background-color: red;
}
.ok {
	background-color: green;
}